@media screen and (max-width:500px){
    .navigation nav div.miniNav{
        height: auto;
    }
    .navigation nav div.miniNav .social{
        display: none;
    }
    .navigation nav div.navBar{
        /* position: absolute; */
        /* margin-top: 20px; */
        top: 0;
    }
    .header{
        margin-top: -50px;
    }
}